<div class="container-fluid">
    <div class="row-fluid">

        <div class="span10">
            <!--Body content-->
            <ul class="lists">
                <li ng-repeat="item in list.ToDoItems"
                    class="thumbnail item-listing">
                    <span>{{item.Body}}</span>
                </li>
            </ul>
        </div>

    </div>
</div>